<h1>id:
<%= @task.id %>
 のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td>
<%= @task.id %>
</td>
  </tr>
  <tr>
    <th>タスク名</th>
    <td>
<%= @task.content %>
</td>
  </tr>
  <tr>
    <th>状況</th>
    <td>
<%= @task.status %>
</td>
  </tr>
</table>



<%= link_to(edit_task_path(@task)) do%>
<span class='btn btn-light'><i class="fas fa-edit"></i> このタスクを編集する</span><% end %>


<%= link_to(@task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }) do%>
<span class='btn btn-danger' ><i class="fas fa-trash-alt"></i> このタスクを削除する</span><% end %>